In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
            "key1":     ["a", "a", "b", "b", "a"],
            "key2":     ["one", "two", "one", "two", "one"],
            "data1":    np.random.randn(5),
            "data2":    np.random.randn(5)
        })
 
df

  key1 key2     data1     data2
0    a  one  0.651835  0.522133
1    a  two  0.178629  1.719992
2    b  one  0.349479  1.509930
3    b  two -0.623902  1.614162
4    a  one -0.155158 -1.120408

In [6]:
# 按key1分组, 计算data1列的平均值
#key1 = df["data1"].groupby(df["key1"]).mean()
key1 = df.groupby(["key1"])["data1"].mean()
print(key1)

key1
a    0.225102
b   -0.137211
Name: data1, dtype: float64

'\n# 语法糖为\n\n'